NEXT_PUBLIC_SUPABASE_URL=https://qzuvacngcwebhmrpmnbk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6dXZhY25nY3dlYmhtcnBtbmJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI2NzgyMzQsImV4cCI6MjA2ODI1NDIzNH0.ihRvKJCdFB01PloY8d3mgf5ZzCGU803dpbMY4RveUqM