@import 'tailwindcss';
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--foreground: #2a2a2a;
	--background: #f5f5f5;
	--primary: #806df2;
	--gray: #f7f7f7;
	--bg-gradient: linear-gradient(to top, #efe7fe, #f3eeff);
	--light-primary: #e9eaff;
}

.dark {
	--foreground: #f5f5f5;
	--background: #16151b;
	--bg-gradient: linear-gradient(to top, #1f1f23, #1f1e24);
	--gray: #1a1a1a;
	--light-primary: #7c87fe;
}

@theme {
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--color-primary: var(--primary);
	--color-light-primary: var(--light-primary);
	--color-gray: var(--gray);
}

@layer base {
	body {
		@apply bg-background text-foreground;
		background-image: var(--bg-gradient);
	}
}

@layer utilities {
	@keyframes stripes {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 56px 0;
		}
	}

	.animate-stripes {
		animation: stripes 1s linear infinite;
	}
}

html {
	font-size: 16px;
}

html,
body {
	font-family: var(--font-sans), sans-serif;
}

body {
	min-width: 320px;
	min-height: 100vh;
}
